@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@200;400&family=Inter&family=Lilita+One&family=Lobster&family=Orbitron:wght@500&family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
}

p,
h1,
h2 {
  margin: 0;
  padding: 0;
  color: #000000;
}

a,
li {
  background-color: transparent;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

/*Abaixo do navbar*/

.jPanel {
  background-image: url(https://raw.githubusercontent.com/JefersonT4v4res/ImersaoDev_Alura/main/_imgs/windowsBg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jFrame {
  min-width: 95vw;
  min-height: 88vh;
  background-color: #000000;
  border: 0.12em solid #808080;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.barra-ferramentas {
  width: 100%;
  height: 3rem;
  background-color: #808080;
  display: flex;
}

.nome-aplicacao {
  width: 30rem;
  height: 100%;
  padding-left: 1rem;
  margin-right: auto;
  display: flex;
  align-items: center;
}

#icone-aplicacao {
  border-radius: 50%;
  margin-right: 0.5rem;
}
#nome {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

.container {
  margin-left: auto;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.barra-ferramenta_options {
  width: 3.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#encerrar:hover {
  background-color: #e71313;
}

div#minimizar:hover,
#maximizar:hover {
  background-color: #727171d3;
}

.cover-gamer {
  width: 91rem;
  height: 35rem;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-game {
  width: 40rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.story-game {
    color: #fff;
    font-size: 1.5rem;
    text-align: justify;
}

#btn_comecar {
  width: 10rem;
  height: 3rem;
  background: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.container-game {
    box-sizing: border-box;
    min-width: 95vw;
    height: 34rem;
    padding: 1rem;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.section-game {
  background-image: url(https://github.com/JefersonT4v4res/ImersaoDev_Alura/blob/main/_imgs/bgInicial.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 30rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
}

.vidas {
    position: relative;
    bottom: 6rem;
    width: 25rem;
}

.iconLife {
    margin-right: 10px;
    filter: drop-shadow(7px 4px 1px rgba(0, 0, 0, 0.5));
    animation: wave 1.5s ease-in-out infinite; /* Duração da animação */
}

/* Animação de onda (subir e descer) */
@keyframes wave {
    0%, 100% {
        transform: translateY(0); /* Posição inicial e final */
    }
    50% {
        transform: translateY(-12px); /* Subir */
    }
}

/* Aplicando diferentes atrasos para criar o efeito de onda */
.iconLife:nth-child(1) {
    animation-delay: 0s;
}
.iconLife:nth-child(2) {
    animation-delay: 0.1s;
}
.iconLife:nth-child(3) {
    animation-delay: 0.2s;
}
.iconLife:nth-child(4) {
    animation-delay: 0.3s;
}
.iconLife:nth-child(5) {
    animation-delay: 0.4s;
}
.iconLife:nth-child(6) {
    animation-delay: 0.5s;
}

#versus-arena {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-end;
}

#hero {
  width: 5rem;
}
#inimigo {
  width: 14rem;
  position: relative;
  top: 1rem;
  left: 5rem;
}

#ground {
  width: 100%;
  height: 3rem;
}

.game-control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.2rem solid #ffffff;
    box-sizing: border-box;
    width: 49%;
    height: 30rem;
    padding: 5px;
}

.game-tip {
  margin: 1rem 2rem;
  text-align: left;
  color: #fff;
  font-size: 1rem;
}

#word-field {
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

.keyboard {
    background-color: #222;
    padding: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.key-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.key {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px;
    width: 40px;
    height: 34px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.key:hover {
    background-color: #555;
}

.key.space {
  width: 12em;
}

.key.enter {
  width: 7rem;
}

.guess-word {
  height: 5rem;
  display: none;
  align-items: center;
  justify-content: center;
}

.inp_text {
  width: 20rem;
  height: 1.77rem;
}

.btn-layout {
  cursor: pointer;
  width: 4rem;
  height: 2rem;
}

.keyboard-imgs {
  height: 1rem;
}

.score {
  color: #fff;
  margin-top: 20px;
}